.mom {
    display: flex;
    justify-content: space-between;

}

.mark {
    background-color: white;
    width: 15px;
    height: 15px;
    display: flex;
    border-radius: 50%;
    position: absolute;
    color: red;
    border: 1px red solid;
    justify-content: center;
    top: 170px;
    left: 55%;
    font-size: 15px;
}

.user-component__column i {
    color: black;
}

.more-screen .icon-row {
    margin-top: 35px;
}

.more-suggestions {
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 40px;
}
.more-suggestions__title {
    margin-bottom: 30px;
}